<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Détails
    </ion-title>
    <ion-img [src]='bas_de_page.logo' class="img" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-tabs color="tertiary">
  <ion-tab-bar slot="top" class="sous_menu">
    <ion-tab-button tab="detailenvoi">
      <ion-icon name="send"></ion-icon>
      <ion-label>Détail Envoi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detailretrait">
      <ion-icon name="trending-down"></ion-icon>
      <ion-label>Détail Retrait</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="comenvoi">
      <ion-icon name="trending-down"></ion-icon>
      <ion-label>Com Envoi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="comretrait">
      <ion-icon name="trending-down"></ion-icon>
      <ion-label>Com Retrait</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>


  <ion-toolbar color="tertiary" slot="bottom" class="bas">
    © MAKARIMAL AKHLAQ SOFT
  </ion-toolbar>