<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Transactions
    </ion-title>
    <ion-img [src]='bas_de_page.logo' class="img" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-tabs color="tertiary">
  <ion-tab-bar slot="top" class="sous_menu">
    <ion-tab-button tab="envoi">
      <ion-icon name="send"></ion-icon>
      <ion-label>Envoi</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="retrait">
      <ion-icon name="trending-down"></ion-icon>
      <ion-label>Retrait</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ion-header>

  <ion-toolbar color="tertiary" slot="bottom" class="bas">
      © MAKARIMAL AKHLAQ SOFT
  </ion-toolbar>