<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Accueil
    </ion-title>
    <ion-img [src]='infos.logo1' class="img" slot="end"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-title class="center">XALLISS TRANSFERT</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-img [src]='infos.logo1'></ion-img>
      </ion-card-content>
      <ion-item class="text">{{infos.lorem}}</ion-item>
  </ion-card>
</ion-content>
<ion-toolbar color="tertiary" slot="bottom" class="bas">
    © MAKARIMAL AKHLAQ SOFT
</ion-toolbar>
